body{
  background-color:#EEECEE;
  max-width: 1000px;
  margin:auto;
}

#name {
  font-weight: bold;
  color: #1144cc;
  
}

p {
  margin-bottom: .5rem;
}

ul {
border-top: 1px solid #e0e0e0;
padding-top: 0.6em;
padding-bottom: 0em;
  
}

.resume {
  background-color:#FFFFFF;
  margin-top:2em;
  margin-bottom: 2em;
  padding: 3em 3em 3em 3em;
  
}

#title {
  color:#1144aa
}

.school-title  {
  font-weight: bold;
  margin-bottom: 0;
}


h2 {
  font-weight: bold;
  margin-top: 0.81rem;
  margin-bottom: 0;
  font-family: "Helvetica", sans-serif;
}

.job-heading {
  padding-top:1.5rem;
  color: #374ba4; 
}

h3.job-company {
  margin-top: 0;
  margin-bottom: 0.5rem; 
  font-weight: bold;
  
}

.job-position {
  font-style:italic; 
}

.job-summary {
  padding: 0.5em;
  background-color: rgb(232, 234, 246);
  font-size: 1em
}

.job-date {
  color: #AAAACC;
  font-weight: bold;
  font-size: .8em
}

.education-training {}

#schools {
  padding-top: 1em;
}

hr {
  margin-top: 3em;
  margin-bottom: 3em;
}

strong{ color: #1133cc};
