* { font-family: Arial, sans-serif; }

body{
	font-size: 100%;
	background-color: #f2f2f2;
	;
}

.section{
	border: .4em solid purple;
	padding: 0 1em 1em 1em;
	margin: 0 1em 1em 1em;
	max-width: 40em;
	border-radius: .9em;
	background-color:white;

}

h1 {
	font-size: 2.1em;
	padding: .2em;
	padding-top:0em;
	color:purple;
	border-bottom: .1em solid black;
}

h2 {
	font-size:1.5em;
	padding: .2em;
	color:purple;
	border-bottom: .1em solid black;
}

a {font-size: 0.9em;}

table {
	border: 1px solid black;
	margin-bottom: 1em;
}


table td{
	text-align: left;
	vertical-align: top;
	padding: 5px;
}

.textField {border: 1px solid black;}
