* { font-family: Arial, sans-serif; }

h1 {
	font-size:1em;
	padding: .2em;
	color:white;
	background-color: grey;

}

div#links {
	width: 70%;
}

a {font-size: 1em;}

table {
	border-collapse: collapse;
	border-color: #eeeeee;
}


table td{
	text-align: left;
	vertical-align: top;
	padding: 5px;
}

button{
	font-size: .75em;
	height: 30px;
	color: red;
}
