* { font-family: Arial, sans-serif; }

body{font-size: 100%;}

h1 {
	font-size:2em;
	padding: .2em;
	color:purple;
	border-bottom: .1em solid black;
}

h2 {
	font-size:1.1em;
	padding: .2em;
	color:purple;
	border-bottom: .1em solid black;
}

div#links {
	width: 70%;
}

a {font-size: 0.9em;}

table {
	border: 1px solid black;
}


table td{
	text-align: left;
	vertical-align: top;
	padding: 5px;
}

.textField {border: 1px solid black;}
